.title {
  line-height: var(--mantine-line-height);
  display: inline;
}

.value {
  flex-grow: 1;
}

.group {
  &.lg > * {
    height: calc(2.25rem * var(--mantine-scale));
  }

  &.md > * {
    height: calc(1.875rem * var(--mantine-scale));
  }
}
