.wrapper {
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: 5rem;
}

.link {
  width: 100%;
  color: unset;
}

.addNewButtonWrapper {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);

  .addNewButton {
    box-shadow: var(--mantine-shadow-md);
  }
}
