.control {
  transition: padding 150ms ease;

  &:not([data-active]) {
    padding: 0;
  }
}

.advancedOptionsTitle {
  color: var(--mantine-color-text);
}

.totalPriceText {
  color: var(--mantine-color-bright);
}

.indexHeader {
  width: calc(2.5rem * var(--mantine-scale));
}

.multisportHeader {
  width: calc(8rem * var(--mantine-scale));
}

.modalBody {
  padding: 0 0 var(--mantine-spacing-xs) 0;
}
