.control {
  transition: padding 150ms ease;

  &:not([data-active]) {
    padding: 0;
  }
}

.advancedOptionsTitle {
  color: var(--mantine-color-text);
}

.totalPriceText {
  color: var(--mantine-color-bright);
}

$border-styles: calc(0.0625rem * var(--mantine-scale)) solid
  var(--table-border-color);

.friendsTable {
  thead {
    border-bottom: $border-styles;
  }

  tbody tr:last-child {
    border-top: $border-styles;
  }

  .indexHeader {
    width: calc(2.5rem * var(--mantine-scale));
  }

  .multisportHeader {
    width: calc(6.75rem * var(--mantine-scale));
  }

  .priceHeader {
    width: calc(6rem * var(--mantine-scale));
  }
}

.modalBody {
  padding: 0 0 var(--mantine-spacing-xs) 0;
}
