.shareWrapper {
  height: calc(100vh - env(safe-area-inset-bottom));
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.posterWrapper {
  position: relative;
  margin: 5vh auto 0 auto;
  width: min(100%, 50vh);
  max-height: 50vh;
  aspect-ratio: 1 / 1;
}

.ball {
  background-image: url("/poster-animation/ball.png");
  width: 7%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  position: absolute;
  top: 59%;
  left: 4%;

  animation-duration: 0.5s;
  animation-name: slide-in-ball;

  &.frame4 {
    top: 0;
    left: 30%;
    transition:
      top 0.5s ease,
      left 0.5s ease;
  }
}

@keyframes slide-in-ball {
  from {
    translate: -150vw 10rem;
  }

  to {
    translate: 0 0;
  }
}

.poster {
  position: absolute;
  z-index: 1;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;

  animation-duration: 0.5s;
  animation-name: slide-in;

  &.frame1 {
    background-image: url("/poster-animation/frame1.png");
  }

  &.frame2 {
    background-image: url("/poster-animation/frame2.png");
  }

  &.frame3 {
    background-image: url("/poster-animation/frame3.png");
  }

  &.frame4 {
    background-image: url("/poster-animation/frame4.png");
  }
}

@keyframes slide-in {
  from {
    translate: 150vw 10rem;
  }

  to {
    translate: 0 0;
  }
}

$border-styles: calc(0.0625rem * var(--mantine-scale)) solid
  var(--table-border-color);

.friendsTable {
  thead {
    position: sticky;

    ::after {
      z-index: 4;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: calc(0.0625rem * var(--mantine-scale));
      background-color: var(--table-border-color);
    }
  }

  .indexHeader {
    width: calc(2.5rem * var(--mantine-scale));
  }

  .multisportHeader {
    width: calc(6.75rem * var(--mantine-scale));
  }

  .priceHeader {
    width: calc(6rem * var(--mantine-scale));
  }
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}
