.navigationBarRoot {
  height: calc(4rem * var(--mantine-scale));

  .tabRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(0.25rem * var(--mantine-scale));

    &.active {
      .tabIcon {
        background-color: var(--mantine-primary-color-light);
        color: var(--mantine-primary-color-filled);
      }

      .tabTitle {
        color: var(--mantine-primary-color-light-color);
      }
    }

    .tabIcon {
      display: flex;
      color: var(--mantine-color-text);
      padding: calc(0.25rem * var(--mantine-scale))
        calc(1rem * var(--mantine-scale));
      border-radius: calc(2rem * var(--mantine-scale));

      > * {
        height: calc(1.5rem * var(--mantine-scale));
        width: calc(1.5rem * var(--mantine-scale));
      }
    }

    .tabTitle {
      color: var(--mantine-color-text);
      font-weight: 500;
      line-height: 1;
    }
  }
}
